header {
    display: flex;
    margin: 0.5vh auto;
    text-align: center;
}

header>h1 {    
    font-size: 8em;
    font-family: fantasy;
}

header>img {
    height: 10vh;
    border: 2px solid #01BAEF;
    border-radius: 50%;
}

header>h2 {
    font-size: 2em;
    display: inline;
    color: #01BAEF;
}

@media only screen and (max-device-width: 480px) {
    header {
        flex-wrap: wrap;
        width: 100vw;
    }
    header > h1{
        margin: 0 auto 0 auto;
    }

    header>img {
        order: 3;
        margin: 0 auto 0 auto;
    }

    header>h2{
        width: 100vw;
        margin: 0 auto 0 auto;
    }
}

@media only screen and (min-device-width: 480px) {
    header {
        flex-wrap: nowrap;
        width: 80vw;
    }

    header > h1{
        margin: 0 2vw 0 2vw;
    }


    header>img {
        margin: auto 1vw auto auto;
    }

    header>h2{
        margin: auto auto auto 1vw;
    }
}