



@media only screen and (max-device-width: 480px) {
    article>figure>img {
        width: 30vw;
    }
}

@media only screen and (min-device-width: 480px) {

    article>figure {
        float: left;
        margin: 0 10px 0 0;
    }

    article>figure>img {
        width: 5vw;
    }
}