.section header {
    text-align: right;
}

.section header h1 {
    font-size: 100px;
}

.section header h2 {
    font-size: 60px;
    float: right;
    clear: right;
}

.modal-content img {
    width: 30%;
}

.modal-content iframe {
    width: 100%;
    height: 100%;
}

.footer div ul h3 {
    font-size: 30px;
    margin: 10px;
}