* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.header-banner {
	padding-top: 35px;
	padding-bottom: 100px;
	color: #ffffff;
	font-family: Helvetica, serif;
	font-weight: 100;
	background-image: url("../img/header-background.jpg");
	background-repeat: repeat-y, no-repeat;
	background-size: contain, cover;
}

.header-banner h1 {
	margin: 150px 0 30px 0;
	font-size: 40px;
}

.container-width {
	width: 90%;
	max-width: 1150px;
	margin: 0 auto;
}

.section {
	padding: 100px 0;
	font-family: Helvetica, serif;
	text-align: center;
}

.section div p {
	font-size: 15px;
	max-width: 700px;
	margin: 0 auto;
	font-weight: 100;
}

.light {
	background-color: #fafafa;
	color: #000000;
}

.light div p {
	color: #b1b1b1;
}

.dark {
	background-color: #000000;
	color: #ffffff;
}

.dark div p {
	color: #b1b1b1;
}

.logo-container {
	float: left;
	width: 50%;
}

.cards {
	padding: 20px 0;
	display: flex;
	justify-content: space-around;
	flex-flow: wrap;
}

.card {
	background-color: white;
	min-height: 400px;
	width: 330px;
	margin-bottom: 30px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	transition: all 0.5s ease;
	font-weight: 100;
	/*overflow: hidden;*/
	padding: 15px 15px 5px 15px;
	color: #555;
}

.card:hover {
	margin-top: -5px;
	box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
}

.card figure {
	float: left;
	width: 30%;
	border: thin silver solid;
	margin: 0.5em;
	padding: 0.5em;
}

.card figure img {
	width: 100%;
}

.card p {
	font-size: 0.85rem;
	line-height: 17px;
	text-align: left;
}

.card details {
	text-align: left;
	padding: 5px 15px 5px 15px;
}

.card details a img {
	width: 100%;
}