body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}

nav {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}



section {
    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
}

section>header {
    grid-column-start: 1;
    grid-column-end: -1;
}

section:nth-child(odd) {
    background-color: orange;
}

section:nth-child(even) {
    background-color: blue;
}

section>article>figure>img {
    width: 100px;
}

section>article>a>img {
    width: 100px;
}