#rotating-images {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

@media screen and (max-width:1000px) {
    section {
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px;
    }
}

@media screen and (min-width:1000px) {

    section {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width:1000px) {
    section>h1 {
        margin: 0px;
    }
}

@media screen and (min-width:1000px) {
    section>h1 {
        margin: 5% 0% 0% 0%;
        letter-spacing: -10px;
    }
}

@media screen and (max-width:1000px) {
    section>p {
        width: 100%;
        color: #ffffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 5px auto 5px auto;
    }
}

@media screen and (min-width:1000px) {
    section>p {
        width: 50%;
        font-size: 5vh;
        color: #ffffff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 3vh auto 5vh auto;
    }
}

section>ul {
    list-style: none;
    padding: 0px;
}

@media screen and (max-width:1000px) {
    section>ul>li {
        color: #ffffff;
    }
}

@media screen and (min-width:1000px) {
    section>ul>li {
        color: #ffffff;
        font-size: 3vh;
    }
}

@media screen and (min-width:1000px) {
    section>footer {
        position: absolute;
        bottom: 0px;
    }
}