#wrapper {
    position: relative;
    padding: 0 0 30rem 0;
}

#wrapper:before {
    background-color: #11aa44;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%237F3' stroke-width='1' stroke-opacity='0.2'%3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 35%;
    z-index: -1;
}

.section {
    display: grid;
    grid-template-columns: minmax(300px, 35%) 1fr;
}

.section header {
    text-align: right;
    padding-right: 5vw;
}

.section h1,
.section h2 {
    font-size: 100px;
    margin: 0;
}

.content {
    margin-left: 10px;
}

.card h3 {
    font-size: 30px;
}

.intro header::before,
.software header::before,
.builds header::before,
.random header::before {
    content: '';
    width: 25px;
    height: 100%;
    border-top: solid 2px #fff;
    border-left: solid 2px #fff;
    position: absolute;
    z-index: 1;
    margin-left: 20px;
}

/* ======= intro section ======= */

.intro header {
    margin-top: 10rem;
}

.intro img {
    width: 100%;
}

/* ======= software section ======= */
.software .card {
    margin: 5px;
}

.software .card h3 {
    padding-left: 200px;
}

.software .card figure {
    margin: -30px 10px 10px 10px;
}

.software .card figure img {
    width: 60%;
}

.software .content {
    display: grid;
    grid-template-columns: minmax(300px, 50%) minmax(300px, 50%);
}

.software article figure {
    width: 174px;
    height: 200px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='174px' height='200px'><polyline points='87,0 174,50 174,150 87,200 0,150 0,50 87,0' style='fill:lightgrey'></polyline></svg>");
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    float: left;
}

/* ======= software section ======= */
.builds .card {
    margin: 20px;
}

.builds .card h3 {
    text-align: center;
}

.builds .card figure {
    width: 100%;
    margin: 0;
}

.builds .card figure img {
    width: 100%;
}

.builds .card p {
    text-align: justify;
}

.builds .content,
.random .content {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

/* ======= random section ======= */

.random .card figure {
    width: 100%;
    margin: 0;
}

.random .card figure img {
    width: 100%;
}

.link-icon {
    width: 15px;
    margin: 0px 5px 0px 0px;
}

.links .content {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
}

.link-block a img {
    width: 50px;
}

/* ============ modal content ================ */
.modal-content {
    position: fixed;
    width: 90vw !important;
    max-height: 90vh;
    margin: 5vh 5vw 5vh 5vw;
    padding: 1rem;
    background-color: #565554;
    border-radius: 0.5rem;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.modal-content img {
    width: 100%;
}