section {
	display: grid;
	grid-template-columns: 80%;
}

section>h2 {
	color: white;
}

article {
	width: 100%;
}

article>h2 {
	margin: 0 auto;
	text-align: center;
}

article>figure {
	background-color: white;
	width: 25%;
	float: right;
}

article>figure>img {
	width: 100%;
	background-color: white;
}

article>ul>li {
	margin: 10px 0px 0px 0px;
}

article ul>li>ul>h4 {
	margin: 10px 0px 0px 0px;
}

.resume-header {
	width: 100%;
	margin: 0;
	padding: 0;
}

.resume-header>li {
	display: inline-flex;
	width: 33%;
}

.resume-header:nth-child(2)>h3 {
	text-align: center;
}

.resume-header>li:nth-child(3) {
	align-content: right;
}

.resume-header>li>h3 {
	display: inline-flex;
	width: 100%;
}

#resume {
	height: 100vh;
	width: 80vw;
}