section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 960px;
    margin: 2rem auto 2rem auto;
    min-height: 600px;
}

header h1 {
    font-size: 4em;
}

header h2 {
    font-size: 3em;
}

header div {
    width: 960px;
    margin: auto;
}

.modal-content {
    position: fixed;
    width: 90vw !important;
    max-height: 90vh;
    margin: 5vh 5vw 5vh 5vw;
    padding: 1rem;
    background-color: #565554;
    border-radius: 0.5rem;
    overflow: auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
}