.header-banner {
    min-height: 280px;
}

.header-banner div { 
    padding: 10px;   
}

.section {
    padding-top: 10px; 
}

.section h2{
	font-size: 60px;
    margin: 0px;
}

.card h3 {
    margin:5px;
}

