body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}


#current-page {
    color: #66fcf1;
}


aside {
    background-color: #1F2833;
}

aside>img {
    border: 5px solid;
    border-color: #66fcf1;
    border-radius: 50%;
    background-color: #c5c6c7;
}

aside>h3 {
    color: #ffffff;
}

aside>h4 {
    color: #ffffff;
}

aside>ul {
    list-style-type: none;
}

aside>ul>li>a {
    text-decoration: none;
    color: #ffffff;
}

#name {
    color: #66fcf1;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section>h1 {
    font-size: 10vw;
    color: #66FCF1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

article {
    background-color: #ffffff;
    text-align: left;
}

article>header {
    background-color: gold;
    width: 100%;
}

article>header>h2 {
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

article>header>h3 {
    font-weight: 700;
    color: #000000;    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

footer {
    background-color: #1F2833;
    text-align: center;
}

footer>div>h2 {
    margin: 0px;
    color: #C5C6C7;
}

footer>div>ul{
    list-style-type: none;
}

footer>div>ul{
    display: inline;
}

footer>div>ul>li{
    display: inline;
}
