article {
    margin: auto;
    text-align: center;
    height: 90vh;
}

article>h2 {
    margin: 0 auto;
    text-align: center;
}

section {
    background-size: 100% auto !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

section>article>header {
    display: inline-block;
}

section>article>header>div {
    text-align: left;
}

section>article>header>div>h1 {
    font-family: Arial;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 4em;
    color: white;
    margin: 0px;
}

#name {
    color: darkorange;
}

.fa {
    margin: auto;
    font-size: 48px !important;
}