article {

    height: 90vh;
}

section>h2 {
    margin: 0 auto;
    text-align: center;
}

section {
    background-size: 100% auto !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    vertical-align: middle;
    margin-left: 150px;
    text-align: center;
}

section>div {
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
}

section>div>h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 4em;
    color: white;
    margin: 0px;
    white-space: nowrap;
}

section>div::before,
section>div::after,
section>div>:last-child:before,
section>div>:last-child:after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
}

section>div::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid darkorange;
    border-left: 2px solid darkorange;
}

section>div::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid darkorange;
    border-right: 2px solid darkorange;
}

#caption {
    color: white;
    font-size: 1em;
}

#name {
    color: darkorange;
}