#content{
	width: 960px;
}
#inspiration li a img{
	width: 20px;
}

#container { display: block; width: 960px; margin: 0 auto; }

#title-build{
	width: 960px;
	height: 360px;	
	background-image: url("../images/build-cover.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


/* ------Main Content-----*/

#container #content{float:left; width:960px; line-height:1.6em;}

#builds ul li article figure img{float:left; width:180px; height:150px; margin:0; padding:4px; border:1px solid #666666;}
#builds{}
#builds ul{margin:0; padding:0; list-style:none;}
#builds ul li{display:block; width:100%; margin-bottom:30px;}
#builds ul li.last{ margin-bottom:0;}
#builds ul li article{}
#builds ul li article figure{}
#builds ul li article figure img{float:left; width:180px; height:150px; margin:0; padding:4px; border:1px solid #666666;}
#builds ul li article figure figcaption{display:block; float:right; width:410px;}
#builds ul li article figure h2{font-size:14px;}
#builds ul li article figure footer{}


/* ------Right Column-----*/

#inspiration{float:right; width:280px;}
#inspiration h2.title{margin-bottom:15px; padding-bottom:15px; border-bottom:1px solid #DEDEDE;}
#inspiration nav{display:block; width:100%;}
#inspiration nav ul{margin:0; padding:0; list-style:none;}
#inspiration nav li{margin:0 0 3px 0; padding:0;}
#inspiration nav li.last{margin-bottom:0;}
#inspiration nav a{display:block; margin:0; padding:5px 10px 5px 20px; color:#666666; background:url("../images/orange_file.gif") no-repeat 10px center #FFFFFF; text-decoration:none; border-bottom:1px dotted #666666;}
#inspiration nav a:hover{color:#FF9900; background-color:#FFFFFF;}