/* ------ title -----*/

#title-software { width: 960px; height: 360px; background-image: url("../images/software-cover.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center; margin-top: 20px; margin-left: auto; margin-right: auto;}
#title-software div { width: 600px; padding-top: 50px; color: white; text-align: center;}

/* ------ section -----*/

section {text-align: center; vertical-align: top;}
section ul {margin:0; padding:0; list-style:none; width: 100%;}
section ul li {display:inline-block; vertical-align: top; text-align: left; padding: 5px;  background-color: sandybrown; border-radius: 15px; margin-top: 10px; margin-bottom: 10px; width:300px;}
section ul li article figure { margin-inline-start: 0px;  }
section ul li article figure img {float: left; width: 80px; margin: 5px;}
section ul li article { width: 100%;}
section ul li article p { color: white; }
section ul li article h2 { color: white; }
section ul li article a img { max-width: 280px; }
section ul li article ul li img {width: 20px;}



/* ------ general ------ */

.youtube-containter { width: 100%; }